<!doctype html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Account </title>
    </head>

    <body>
        <h1> CRÉEZ VOTRE COMPTE ICI! </h1>
        <p> Pour créer un compte, il vous suffit de remplir un formulaire avec vos informations personnelles, de vérifier votre adresse e-mail ou votre numéro de téléphone, de compléter votre profil, et enfin, d'accepter les conditions d'utilisation.
    </body>

</html>