<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start-up</title>
    <link rel="stylesheet" href="css/accueil.css">
</head>

<body>

    <nav>
        <div class="logo"><%= title %></div>
        <div class="nav-items">
            <a href="publications">PUBLICATION</a>
            <a href="">RECHERCHE</a>
            <a href="compte">COMPTE</a>
        </div>
    </nav>

    <section class="hero">
        <div class="hero-container">
            <div class="left">
                <h1>TU PEUX TROUVER TOUT CE QUE TU DÉSIRE, EXCEPTÉ TON ARGENT</h1>
                <p>
                    Une plateforme en ligne où les acheteurs et les vendeurs se rencontrent pour effectuer des transactions commerciales. Les vendeurs peuvent proposer une gamme de produits ou de services, tandis que les acheteurs peuvent parcourir ces offres, comparer les prix et effectuer des achats.
                </p>
                <button onclick="location.href='compte.ejs'">Débutez Maintenant</button>
            </div>
            <div class="right">
                <img src="images/LOGO.png" alt="illustration" class="hero-illustration">
            </div>
        </div>
    </section>

</body>
</html>
