<!doctype html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/compte.css">
        <title> COMPTE </title>
    </head>

    <body>

        <div class="wrapper">
            <h1> CONNECTION </h1>
            <form action="/login" method="POST">
                <div class="text-box">
                    <input type="text" name="email" placeholder="Email" required>
                    <img class="icon" src="images/USER.png">
                </div>
                <div class="text-box">
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <img class="icon" src="images/LOCK.png">
                </div>
                <button> Submit </button>
                <div class="create">
                    <p> Vous n'avez pas de compte? <a href="#"> Créez un compte </a> </p>
                </div>
            </form>
        </div>
        
    </body>

</html>