<!doctype html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/compte.css">
        <title> COMPTE </title>
    </head>

    <body>

        <div class="wrapper">
            <h1> CONNECTION </h1>
            <form>
                <div class="text-box">
                    <input type="text" placeholder="Email" required>
                    <img class="icon" src="/public/images/USER.png">
                </div>
                <div class="text-box">
                    <input type="password" placeholder="Mot de passe" required>
                    <img class="icon" src="/public/images/LOCK.png">
                </div>
                <div class="rember">
                    <label><input type="checkbox"> Sauvegarder </label>
                </div>
                <div class="forget">
                    <a href="#"> Mot de passe oublié? </a>
                </div>
                <button> Submit </button>
                <div class="create">
                    <p> Vous n'avez pas de compte? <a href="#"> Créez un compte </a> </p>
                </div>
            </form>
        </div>
        
    </body>

</html>