<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PUBLICATIONS</title>
        <link rel="stylesheet" href="css/publications.css">
    </head>

    <body>
        <ul>
            <li> Block1 </li>
            <li> Block2 </li>
            <li> Block3 </li>
        </ul>
    </body>

</html>