* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(20, 20, 20);
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: 0.5s;
}

header .header-content {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .header-content .logo {
    flex: 1;
    color: white;
    font-style: italic;
    font-size: 2em;
    font-weight: 700px;
    text-decoration: none;
    transition: 0.5s;
}

header .header-content form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-content form .search-bar {
    position: relative;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within {
    border: 1px solid white;
}

header .header-content form .search-bar .search-icon {
    width: 0%;
    height: 100%;
    margin-right: 10px;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-icon {
    width: auto;
}

header .header-content form .search-bar .search-input {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-input {
    color: white;
}

header .header-content form .search-bar .search-input::placeholder {
    color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-input::placeholder {
    color: white;
}

header .header-content ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

header .header-content ul li {
    list-style: none;
    margin: 0 10px;
}

header .header-content ul li a {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

header .header-content ul li a span {
    position: absolute;
    width: 0;
    height: 3px;
    left: 100%;
    bottom: -8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    transition: 0.25s;
}

header .header-content ul li a:hover span {
    left: 0;
    width: 100%;
}

header .header-content ul li .profile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    cursor: pointer;
}

header .header-content ul li .profile-wrapper h1 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

header .header-content ul li .profile-wrapper .icon-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}

header .header-content ul li .profile-wrapper .icon-wrapper .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header .header-content ul li .profile-wrapper span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    border-radius: 10px;
    transition: 0.25s;
}

header .header-content ul li .profile-wrapper:hover span {
    width: calc(100% + 10px);
    height: calc(100% + 6px);
    background-color: rgba(255, 255, 255, 0.1);
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 150px;
}

.banner .line-bar {
    position: fixed;
    width: 150px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.025);
}

.banner .creation-form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.banner .creation-form .creation-media {
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: start;
}

.banner .creation-form .creation-media .creation-media-image-wrapper {
    position: relative;
    width: 530px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.25s;
}

.banner .creation-form .creation-media .creation-media-image-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
}

.banner .creation-form .creation-media .creation-media-image-wrapper .creation-media-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    display: none;
    z-index: -1;
}

.banner .creation-form .creation-media .creation-media-image-wrapper h1 {
    width: 100%;
    color: white;
    text-align: center;
}

.banner .creation-form .creation-media .creation-media-image-wrapper .creation-media-label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
}

.banner .creation-form .creation-media .creation-media-info {
    margin-left: 10px;
}

.banner .creation-form .creation-media .creation-media-info h1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.banner .creation-form .creation-media .creation-media-info p {
    color: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    text-transform: uppercase;
}

.banner .creation-form .creation-media .creation-media-file {
    display: none;
}

.banner .creation-form .creation-info {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.banner .creation-form .creation-info div {
    width: 500px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .creation-form .creation-info .creation-input-description {
    width: 100%;
}

.banner .creation-form .creation-info div h1 {
    width: 100%;
    flex: 1;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}

.banner .creation-form .creation-info div .creation-input-box {
    position: relative;
    width: 100%;
    flex: 1;
}

.banner .creation-form .creation-info div .creation-input-box .creation-input-text {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
}

.banner .creation-form .creation-info div .creation-input-box span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
}

.banner .creation-form .creation-info div .creation-input-box:focus-within span {
    background-color: white;
}

.banner .creation-form .creation-submition {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.banner .creation-form .creation-submition button {
    width: 100px;
    height: 30px;
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.banner .creation-form .creation-submition button:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}