* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(20, 20, 20);
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: 0.5s;
}

header .header-content {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .header-content .logo {
    flex: 1;
    color: white;
    font-style: italic;
    font-size: 2em;
    font-weight: 700px;
    text-decoration: none;
    transition: 0.5s;
}

header .header-content form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-content form .search-bar {
    position: relative;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within {
    border: 1px solid white;
}

header .header-content form .search-bar .search-icon {
    width: 0%;
    height: 100%;
    margin-right: 10px;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-icon {
    width: auto;
}

header .header-content form .search-bar .search-input {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-input {
    color: white;
}

header .header-content form .search-bar .search-input::placeholder {
    color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
}

header .header-content form .search-bar:focus-within .search-input::placeholder {
    color: white;
}

header .header-content ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

header .header-content ul li {
    list-style: none;
    margin: 0 10px;
}

header .header-content ul li a {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

header .header-content ul li a span {
    position: absolute;
    width: 0;
    height: 3px;
    left: 100%;
    bottom: -8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    transition: 0.25s;
}

header .header-content ul li a:hover span {
    left: 0;
    width: 100%;
}

header .header-content ul li .profile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    cursor: pointer;
}

header .header-content ul li .profile-wrapper h1 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

header .header-content ul li .profile-wrapper .icon-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}

header .header-content ul li .profile-wrapper .icon-wrapper .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header .header-content ul li .profile-wrapper span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    border-radius: 10px;
    transition: 0.25s;
}

header .header-content ul li .profile-wrapper:hover span {
    width: calc(100% + 10px);
    height: calc(100% + 6px);
    background-color: rgba(255, 255, 255, 0.1);
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner .login-form {
    position: absolute;
    width: 350px;
    height: max-content;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .login-form h1 {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px 0;
}

.banner .login-form .login-input {
    width: 100%;
    height: max-content;
    padding: 10px 0;
}

.banner .login-form .login-input h1 {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.banner .login-form .login-input .login-input-box {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 5px 0;
}

.banner .login-form .login-input .login-input-box .login-input-text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

.banner .login-form .login-input .login-input-box span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
}

.banner .login-form .login-input .login-input-box:focus-within span {
    background-color: white;
}

.banner .login-form button {
    width: 150px;
    height: 30px;
    margin: 15px 0;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.banner .login-form button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
}

.banner .login-form .line-break {
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}