* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(0, 150, 200);
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.web-bar {
    width: 100%;
    height: 20px;
    margin: auto;
    padding: 20px 0;
    background: white;
    position: fixed;
}

.nav-bar {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    margin: 0 20px;
    cursor: pointer;
}

.wrapper {
    width: 400px;
    height: max-content;
    padding: 40px 40px 0 40px;
    background: rgb(0, 190, 255, 0.25);
    border: 2px solid rgb(0, 190, 255);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.column {
    width: 100%;
    height: max-content;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    width: 100%;
    height: max-content;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

h1 {
    font-size: 36px;
    color: white;
}

h2 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.input-section {
    flex: 1;
    margin: 0 10px;
    position: relative;
    color: white;
    position: relative;
}

.input-text {
    width: 100%;
    height: 20px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    transition: 0.25s;
}

.input-section span {
    width: 100%;
    height: 2px;
    background: rgba(0, 190, 255);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s;
}

.input-section:focus-within span {
    background: white;
}

.login {
    width: 100%;
    height: 30px;
    padding: 3px 0;
    font-size: 16px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid rgba(0, 190, 255);
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 2px;
    background: white;
}

.sign-in {
    width: 50%;
    height: 30px;
    padding: 3px 0;
    font-size: 16px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid rgba(0, 190, 255);
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 190, 255);
    transition: 0.25s;
    z-index: -1;
}

button:hover span {
    width: 100%;
}