<!DOCTYPE html>

<html>
    <head>
        <title>
            ECHOPRIX
        </title>
        <link rel="stylesheet" href="css/creation.css">
    </head>
    <body>
        <%- include('header_connected') %>
        <section class="banner">
            <span class="line-bar"></span>
            <form class="creation-form" action="/sendPost" method="POST">
                <div class="creation-media">
                    <div class="creation-media-image-wrapper">
                        <img class="creation-media-image" src="" alt="" id="creation-media-image">
                        <h1>+</h1>
                        <label class="creation-media-label" for="creation-media-file"></label>
                    </div>
                    <div class="creation-media-info">
                        <h1>Media</h1>
                        <p>Format: Format: *.jpg, *.jpeg<br>L'image sera utilisé comme affiche représentant votre annonce.</p>
                    </div>
                    <input class="creation-media-file" type="file" accept="image/jpeg, image/jpg" id="creation-media-file" multiple>
                </div>
                <div class="creation-info">
                    <div class="creation-input-title">
                        <h1>Titre</h1>
                        <div class="creation-input-box">
                            <input class="creation-input-text" name="title" type="text">
                            <span></span>
                        </div>
                    </div>
                    <div class="creation-input-price">
                        <h1>Prix</h1>
                        <div class="creation-input-box">
                            <input class="creation-input-text" name="price" type="text">
                            <span></span>
                        </div>
                    </div>
                    <div class="creation-input-address">
                        <h1>Adresse</h1>
                        <div class="creation-input-box">
                            <input class="creation-input-text" name="adresse" type="text">
                            <span></span>
                        </div>
                    </div>
                    <div class="creation-input-description">
                        <h1>Description</h1>
                        <div class="creation-input-box">
                            <input class="creation-input-text" name="description" type="text">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="creation-submition">
                    <button type="button" onclick="location.href='publications'">Annuler</button>
                    <button type="submit">Publier</button>
                </div>
            </form>
        </section>
        <script src="/java-script/creation.js" ></script>
    </body>
</html>