        <header>
            <div class="header-content">
                <a class="logo" href="/">ECHOPRIX</a>
                <form action="search" method="POST">
                    <div class="search-bar">
                        <img class="search-icon" src="/images/search.png">
                        <input class="search-input" type="search" placeholder="Rechercher">
                    </div>
                </form>
                <ul>
                    <li><a href="/"><span></span>Acceuil</a></li>
                    <li><a href="publications"><span></span>Publications</a></li>
                    <li>
                        <div onclick="location.href='login'" class="profile-wrapper" id="profile-wrapper">
                            <h1>SE CONNECTER</h1>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
