<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>ACCUEIL</title>
</head>

<body>

    <div class="banner">
        <div class="web-bar">
            <div class="nav-bar">
                <img src="images/logo.png" class="logo">
                <form>
                    <div class="search">
                        <img class="search-icon" src="images/search.png" alt="">
                        <input class="search-box" type="search" placeholder="Search">
                    </div>
                </form>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="ejs/publications.ejs">Publications</a></li>
                    <li><a href="ejs/home.ejs">Profile</a></li>
                    <li><a href="ejs/sign-in.ejs">Login</a></li>
                    <li><a href="/sign-in">Sign in</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h1>Start Searching Now</h1>
            <p>Come and see how echoprix can help you find the things you want.<br>Search the products you could never imagine to find !</p>
            <div>
                <button type="button" onclick="location.href='sign-in'"><span></span>Login</button>
                <button type="button" onclick="location.href='ejs/sign-in.ejs'"><span></span>Sign in</button>
            </div>
        </div>
    </div>

</body>
</html>
