<!DOCTYPE html>

<html>
    <head>
        <title>
            ECHOPRIX
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <% if (data.session.connected) { %>
            <%- include('header_connected') %>
        <% } else { %>
            <%- include('header_visitor') %>
        <% } %>
        <section class="banner">
            <div class="banner-description">
                <h1>Commencez la recherche maintenant</h1>
                <p>Venez voir comment echoprix peut vous aider à trouver ce que vous désirez.<br>Recherchez les produits que vous n'auriez jamais pu imaginé trouver!</p>
                <ul>
                    <li><button class="login" onclick="location.href='login'" type="button"><span></span>Se Connecter</button></li>
                    <li><button class="sign-in" onclick="location.href='sign-in'" type="button"><span></span>Créer un compte</button></li>
                </ul>
            </div>
        </section>
    </body>
</html>