<!DOCTYPE html>

<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="banner">
            <div class="web-bar">
                <div class="nav-bar">
                    <img src="images/logo.png" class="logo">
                </div>
            </div>
            <div class="wrapper">
                <form action="login" method="POST">
                    <div class="column">
                        <h1>Login</h1>
                    </div>
                    <div class="row">
                        <div class="input-section">
                            <h2>Email</h2>
                            <input class="input-text" type="text">
                            <span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-section">
                            <h2>Password</h2>
                            <input class="input-text" type="text">
                            <span></span>
                        </div>
                    </div>
                    <div class="column">
                        <button class="login" type="submit"><span></span>Login</button>
                    </div>
                    <div class="row">
                        <span class="line"></span>
                    </div>
                    <div class="column">
                        <button class="sign-in" type="submit"><span></span>Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>