<!DOCTYPE html>

<html>
    <head>
        <title>
            ECHOPRIX
        </title>
        <link rel="stylesheet" href="css/sign-in.css">
    </head>
    <body>
        <%- include('header_visitor') %>
        <section class="banner">
            <form class="sign-in-form" action="sign-in" method="POST">
                <h1 class="sign-in-title">Création d'un compte</h1>
                <div class="sign-in-profile">
                    <div class="sign-in-profile-image-wrapper">
                        <img class="sign-in-profile-image" src="" alt="" id="sign-in-profile-image">
                        <h1>+</h1>
                        <label class="sign-in-profile-label" for="sign-in-profile-file"></label>
                    </div>
                    <input class="sign-in-profile-file" type="file" accept="image/jpeg, image/jpg" id="sign-in-profile-file">
                </div>
                <div class="sign-in-input">
                    <h1>Prénom</h1>
                    <div class="sign-in-input-box">
                        <input class="sign-in-input-text" name="firstName" type="text">
                        <span></span>
                    </div>
                </div>
                <div class="sign-in-input">
                    <h1>Nom</h1>
                    <div class="sign-in-input-box">
                        <input class="sign-in-input-text" name="lastName" type="text">
                        <span></span>
                    </div>
                </div>
                <div class="sign-in-input">
                    <h1>Email</h1>
                    <div class="sign-in-input-box">
                        <input class="sign-in-input-text" name="email" type="email">
                        <span></span>
                    </div>
                </div>
                <div class="sign-in-input">
                    <h1>Mot de passe</h1>
                    <div class="sign-in-input-box">
                        <input class="sign-in-input-text" name="password" type="password">
                        <span></span>
                    </div>
                </div>
                <button type="submit">Créer le compte</button>
                <span class="line-break"></span>
                <button type="button" onclick="location.href='login'">Se connecter</button>
            </form>
        </section>
        <script src="java-script/sign-in.js" ></script>
    </body>
</html>