<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple EJS Example</title>
</head>
<body>
    <h1>TEEEEEEEEEEEEEEEEEEEESSSSSSSSSSSSSSSSTTTTT!</h1>
    <img src="data:image/jpeg;base64, <%= data.image.toString('base64') %>" alt="User Image" style="max-width: 300px; height: auto;">
</body>
</html>
